<html>
<head>
	<link rel="stylesheet" type="text/css" href="/header.css" />
	<link rel="stylesheet" type="text/css" href="/styles.css" />
	<title>Tone Checker</title>
</head>
<body>
	<div class="main">
		<div class="header">
			<h1>Bad to the Tone</h1>
			<p>Tone analyzer plugin</p>
		</div>
		<div class="links">
			<a href="/">Register</a>
			<a href="/data">Data Analysis</a>
			<a href="/about">About</a>
		</div>
		<p>
		Bad to the Tone was created as part of the requirements for graduation for the Masters of Software Engineering program at Penn State - Great Valley. Team members include Cassandra Beam, Chris Beres, Darren Laustsen, Kanel Nang, and Nilay Yilmaz. 
		</p>


		

	</div>
</body>

</html>