<html ng-app="registration">
<head>
	<script src="/bower_components/angular/angular.min.js" type="text/javascript" ></script>
	<script src="/registration.js" type="text/javascript" ></script>
	<link rel="stylesheet" type="text/css" href="/header.css" />
	<link rel="stylesheet" type="text/css" href="/styles.css" />
	<title>Tone Checker</title>
</head>
<body ng-controller="registrationCtrl">
	<div class="main">
		<div class="header">
			<h1>Bad to the Tone</h1>
			<p>Tone analyzer plugin</p>
		</div>
		<div class="links">
			<a href="/">Register</a>
			<a href="/data">Data Analysis</a>
			<a href="/about">About</a>
		</div>
		<p>
		Tone Checker is a Microsoft Outlook plugin that will assess the emotions of your incoming and outgoing emails. Find out whether your emails have unintended anger, fear, joy, sadness, or disgust before you send them. Additionally, the Tone Checker can help you interpret the emotions of incoming emails. 
		</p>


		<div class="formBox">
			<h2>Register to use the Tone Checker Outlook Plugin</h2>
			<form name="registrationForm" ng-submit="submitForm()">
				<div class="row">
					<div class="labelContainer"><label for="email">Email*</label></div>
					<div class="inputContainer"><input type="email" id="email" required ng-model="user.email"/></div>
				</div>
				<div class="row">
					<div class="labelContainer"><label for="birthday">Birthday</label></div>
					<div class="inputContainer"><input type="date" placeholder="yyyy-MM-dd" min="{{minDate}}" max="{{maxDate}}" ng-model="user.birthDate" /></div>
				</div>
				<div class="row">
					<div class="labelContainer"><label for="gender">Gender</label></div>
					<div class="inputContainer">
						<select ng-model="user.genderId">
							<option value="" ng-selected></option>
							<option ng-repeat="gender in genderList" ng-value="gender.GenderId">{{gender.GenderType}}</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="labelContainer"><label for="state">State</label></div>
					<div class="inputContainer">
						<select ng-model="user.stateId">
							<option value="" ng-selected></option>
							<option ng-repeat="state in stateList" ng-value="state.StateId">{{state.StateName}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="labelContainer"><label for="educationLevel">Education Level</label></div>
					<div class="inputContainer">
						<select ng-model="user.educationId">
							<option value="" ng-selected></option>
							<option ng-repeat="level in edList" ng-value="level.EducationId">{{level.EducationLevel}}</option>
						</select>
					</div>
				</div>
				<button type="submit" ng-disabled="registrationForm.$invalid">Register &amp; Download</button>
			</form>
			<p class="required">*Required</p>
		</div>

	</div>
</body>

</html>